body{
    margin: 0;
}
#footer{
    margin :0;
    padding:35px;
    background-color:gainsboro;
}
#notice{
    border-bottom : 1px solid gray;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 900px 150px;
}
#notice a{
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-size: 95%;
}
#notice a:hover{
    text-decoration: underline;
}
.mainarrange{
    font-weight: bold;
    font-size: 90%;
}
.listarrange{
    display:table;
}
.listarrange .lastli{
    border-right:none;
}
.listarrange li{
    display : inline;
    text-align: center;
    font-size:70%;
    padding-right: 7px;
    border-right: 1px solid silver;
}
.listarrange a{
    text-decoration: none;
    color: grey;
}
.listarrange a:hover{
    text-decoration: underline;
}
#foot{
    padding-left: 100px;
}
.arrange{
    display: grid;
    grid-template-columns: 65px 600px;
}
#footergroup{
    border-bottom: 1px solid gray;
    padding-top: 15px;
    display: grid;
    grid-template-columns: 650px 300px;
}
#supply{
    display: grid;
    grid-template-columns: 750px 150px;
}
#cor a{
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-size: 90%;
}
#cor a:hover{
    text-decoration: underline;
}
#supply {
    align-content: center;
    padding-top:20px;
}
#footerimg img{
    align-items: center;
    width: 25%;
    height: auto;
    display: inline;
}
@media (min-width:880px){
    #footer{
        padding-right:4%;
        padding-left: 4%;
    }
}